@font-face {
    font-family: 'Iceland';
    font-weight: normal;
    font-style: normal;
    src: url(/font/Iceland-Regular.woff2);
}

:root {
    --viewport-width: calc(100vw - 2rem);
}

* {
    box-sizing: border-box;
    border: 1px solid yellow;
    font-family: "Iceland", Roboto, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    flex-wrap: wrap;
}

body {
    margin: 0;
    color: rgb(16, 234, 16);
    text-shadow: 2px 2px 2.7px rgb(117, 116, 116),
    10px 10px 10px green,
    0px 0px 30px silver;
}

#background-container {
    display: flex;
    flex-direction: column;
    background-image: url(img/lab.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(215, 236, 255);
    height: 100dvh;
    position: relative;
    align-items: center;
    overflow: hidden;
}

#screen-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 30vh;
    width: 40vw;
    top: 45%;
    justify-content: center;
    text-align: center;
    font-size: calc(1vw + 0.5rem);
}

h1 {
    margin: 0;
}

input, select {
    opacity: 0.4;
    border-radius: 5px;
}

button {

}


#footer {
    font-size: calc(1vw + 0.5rem);
    margin-top: auto;
    text-align: center;
    a {
        text-decoration: none;
    }
}

@media (max-width: 1350px) {
    #screen-container {
        width: calc(30vw + 22rem);
    }
}