@font-face {
    font-family: 'Iceland';
    font-weight: normal;
    font-style: normal;
    src: url(/font/Iceland-Regular.woff2);
}

* {
    box-sizing: border-box;
    border: 1px solid yellow;
    font-family: "Iceland", Roboto, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

body {
    margin: 0;
}

#background-container {
    display: flex;
    flex-direction: column;
    background-image: url(img/lab.png);
    /* background-position: top; */
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(215, 236, 255);
    height: 100dvh;
}

#screen-container {
    display: flex;
}

#footer {
    margin-top: auto;
    text-align: center;
}