@font-face {
    font-family: 'Iceland';
    font-weight: normal;
    font-style: normal;
    src: url("./font/Iceland-Regular.woff2"),
         url("./font/Iceland-Regular.woff");
}

* {
    box-sizing: border-box;
    font-family: "Iceland", Roboto, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

body {
    margin: 0;
    color: rgb(16, 234, 16);
    text-shadow: 2px 2px 2.7px rgb(117, 116, 116),
    10px 10px 10px rgb(105, 249, 105),
    0px 0px 30px rgb(97, 82, 82);
}

#background-container {
    display: flex;
    flex-direction: column;
    background-image: url(img/lab.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: rgb(215, 236, 255);
    height: 100dvh;
    position: relative;
    align-items: center;
    overflow: hidden;
}

#screen-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 30vh;
    width: 40vw;
    justify-content: center;
    text-align: center;
    top: 46%;
}

#screen-container > * {
    font-size: calc(0.85vw + 1rem);
}

h1, h2 {
    margin: 0;
}


input, select {
    opacity: 0.5;
    border-radius: 5px;
    margin: 0.5vw;
    background-color: rgb(36, 36, 36);
    font-weight: 600;
    color: rgb(255, 255, 255);
    &:valid {
        border: 3px solid rgb(0, 255, 0);
    }
    &:user-invalid {
        border: 3px solid rgb(216, 86, 86);
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.288);
    }
}

option {
    color: rgba(255, 255, 255, 0.678);
}

button {
    font-size: calc(0.85vw + 0.45rem);
    color: rgb(16, 234, 16);
    background-color: rgb(49, 44, 40);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 2.7px rgb(117, 116, 116);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.445);
    margin-top: 10px;
}


#footer {
    font-size: calc(1vw + 0.5rem);
    margin-top: auto;
    text-align: center;
    a {
        text-decoration: none;
    }
}

@media (max-width: 1350px) {
    #screen-container {
        width: calc(30vw + 22rem);
    }
}
@media (max-height: 1100px) {
    #screen-container {
        top: calc(50% + 1%);
    }
}
@media (max-height: 980px) {
    #screen-container > * {
        font-size: calc((0.85vh + 0.75rem));
    }
}